{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs",
    "strict": true,
    "noInterop": true
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": false,
      "decorators": false
    },
    "target": "es2021",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false
  },
  "minify": true
}
